<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dongvatquanhta">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chude" />
        <activity android:name=".loaikhac" />
        <activity android:name=".longvu" />
        <activity android:name=".duoinuoc" />
        <activity android:name=".thurung" />
        <activity android:name=".thunuoi" />
        <activity android:name=".dongco" />
        <activity android:name=".chitietDV" />
        <activity android:name=".Kiemtra" />

    </application>

</manifest>